<div class="view-wrapper">
  <div class="header">
    <div class="container">
      <h2 class="wow fadeIn"><img src="images/logo-big.png" alt="Informatica Libre"></h2>

      <h1 class="headline wow fadeIn">API</h1>

      <a href="#" target="_blank" class="button wow fadeIn">
      	<i class="glyphicon glyphicon-list-alt"></i> Ver Documentación
      </a>

    </div> <!-- /.container -->

  </div> <!-- /.header -->

  <div class="content">

  </div> <!-- /.content -->

</div> <!-- /.view-wrapper -->